.App {
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
}
.current-path {
  margin: 1rem 0.5rem;
}

.object-container {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}
.refresh {
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.refresh-icon {
  vertical-align: bottom;
}

.composition:hover {
  color: aqua;
  cursor: pointer;
}

.upload-form {
  display: none;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
}

.breadcrumbs .link {
  padding: 0 4px;
}
.breadcrumbs .link:hover {
  color: aqua;
  cursor: pointer;
}
