/* App */
.App {
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
  width: 960px;
  margin: 24px auto;
}

.current-path {
  margin: 1rem 0.5rem;
}
.composition-container {
  background-color: #5a5b63;
  width: 960px;
  margin: 24px auto;
  font-size: 1.5rem;
}

.composition-container.drag-over {
  background-color: #767781;
}

.object-container {
  display: flex;
  justify-content: left;
  padding-left: 40px;
  margin: 0.5rem 0;
  transition: all 250ms;
  text-align: left;
}

.object-container:hover {
  background-color: #3e5fde;
}

.delete-icon {
  cursor: pointer;
  vertical-align: bottom;
  width: 2rem;
  margin-left: 36px;
}

.space {
  width: 24px;
}

/* Button */
.my-button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.my-button.primary {
  background-color: #3e5fde;
  color: #e6e8fc;
  transition: all 250ms;
}

.my-button.primary:hover {
  background-color: #6c82d8;
}

.my-button.secondary {
  background-color: #bf931b;
  color: #e6e8fc;
  transition: all 250ms;
}

.my-button.secondary:hover {
  background-color: #bfb51b;
}

/* Compositon */
.composition {
  color: #e6e8fc;
}
.composition:hover {
  cursor: pointer;
}

/* Folder */
.folder-icon {
  vertical-align: bottom;
  width: 2rem;
  margin-right: 4px;
}

/* File */
.file-icon {
  vertical-align: bottom;
  width: 2rem;
  margin-right: 4px;
}
.last-modified {
  font-size: 0.8rem;
}

/* Upload */
.upload-form {
  display: none;
}
.upload-icon {
  vertical-align: bottom;
  width: 2rem;
  margin-left: 4px;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #e6e8fc;
  margin: 24px auto;
}

.breadcrumbs .link {
  padding: 0 4px;
  transition: all 200ms;
}
.breadcrumbs .link:hover {
  color: #3e5fde;
  cursor: pointer;
}

/* Refresh */
.refresh-icon {
  vertical-align: bottom;
  width: 2rem;
  margin-left: 4px;
}

/* Delete */
.delete-confirm {
  font-size: 1.3rem;
}

.confirm-button {
  margin-top: 24px;
  display: flex;
  justify-content: space-evenly;
}
